
.addExpense{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1000;
  padding: 52px 36px;
  overflow-y: scroll;

  .addExpense__header{
    h2{
      color: #334155;
      font-size: 27px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  .addExpense__form{
    width: 90%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
    position: relative;

    &::before{
      content: '';
      width: 100%;
      height: 1px;
      background: #BFBFC5;
      position: absolute;
      bottom: -28px;
      left: 0;
    }

    .addExpense__form__item{
      display: flex;
      flex-direction: column;
      gap: 10px;

      .addExpense__form__item__unit{
        display: flex;
        align-items: center;
        gap: 17px;
        div{
          display: flex;
          align-items: center;
          gap: 10px;
          input[type="radio"] {
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background: none;
            border-radius: 48%;
            border: 1px solid #216EFD;
            box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 24px 0px rgba(204, 204, 204, 0.08);
            cursor: pointer;
            position: relative;
          }
        }

      }
      label{
        overflow: hidden;
        color: #232323;
        text-overflow: ellipsis;
        /* SF-17 Medium */
        font-family: "SF Pro Display";
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px; /* 129.412% */
      }
      input, 
      select{
        width: 400px;
        background: #FFF;
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 24px 0px rgba(204, 204, 204, 0.08);
        border-radius: 8px;
        padding: 12px 15px;
        border: 1px solid rgba(142, 142, 147, 0.20);


        &:focus{
          outline: none;
          border: 1px solid #216EFD;
        }
      }
    }
  }

    button{
      margin-top: 50px;
      padding: 8px 12px;
      display: flex;
      align-items: center;
      gap: 10px;
      color: #216EFD;
      border: 1px solid #216EFD;
      background: #FFF;
      border-radius: 50px;
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 24px 0px rgba(204, 204, 204, 0.08);
      font-size: 15px;
      margin-bottom: 250px;
    }

    .res{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 20px;
      position: fixed;
      background: white;
      bottom: 0;
      left: 0;
      height: 150px;
      border-radius: 25px 25px 0px 0px;
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.08), 0px -4px 34px 0px rgba(204, 204, 204, 0.16);
      z-index: 10000;
      button{
        padding: 8px 15px;
        border-radius: 50px;
        font-size: 15px;
        background: white;
        border: 1px solid #216EFD;
        font-weight: 500;
        margin: 0;
        &:nth-child(1){
          color: #216EFD;
        }
        &:nth-child(2){
          color: #4AC137;
          border: 1px solid #4AC137;
          margin-right: 49px;
        }
      }
    }
}